@model AnimalShelterApi.Models.Animal

<h1>Add a New Animal</h1>

<form asp-action="Create">
  <div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="Species">Species</label>
    <input asp-for="Species" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="Age">Age</label>
    <input asp-for="Age" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
