@model AnimalShelterApi.Models.Animal

<h1>Delete Animal</h1>

<p>Are you sure you want to delete @Model.Name?</p>

<form asp-action="Delete">
  <input type="hidden" asp-for="Id" />
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
